{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" />

    <div class="example-wrapper">
        <h1>Login page ✅</h1>

        {% if error  %}

            <span class="error">{{ error.messageKey }}</span>

        {% endif %}

        <form action="{{ path('login') }}" method="post">

            <input type="text" name="_username" value="{{ last_username }}" placeholder="Ваш  логин">

            <input type="password" name="_password" >

            <button type="submit">Login</button>


        </form>

        <br>
        <a href="Regist"> Registration </a>
        <br>
        <a href="logout">Logout</a>

    </div>
{% endblock %}