<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" />

{{ form(post_form) }}

{% if error %}

    <p style="color: red;"> Что-то пошло не так. Проверьте ваш пароль</p>

{% endif %}
<a href="/">Home</a>