<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" />
    <title>Таблица SMS</title>
</head>

<body>

<table border="1">
    <tr>
        <th>Дата</th>
        <th>Имя региона</th>
        <th>Не доставлено в %</th>

    </tr>
        {% if data %}

    {% for i in 0..data|length-1 %}

    <tr><td>{{ data[i].day|date("d-m-Y") }}</td><td>{{ data[i].regionName }}</td><td>{{ data[i].undelivered ~ '%' }}</td></tr>

    {% endfor %}

        {% endif %}

</table>

    <form method="POST">

<button name="make">Сформировать</button>

    </form>

</body>

</html>
